/*aku override aja kelas bootstrapnya */
/*global*/

/*biru awal : #0076B6
biru kedua : #003947
biru ketiga : #003956;
*/

a {
    color: #0076B6;
    text-decoration: none;
}

a:hover, a:focus {
    color: #0076B6;
}

/*navbar & sidebar*/
.navbar-inverse {
    background-color: #0076B6;
    border-color: #32C2CD;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #32C2CD;
}

.navbar-inverse .navbar-nav > li > a > span {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #32C2CD;
    color: #FFF;
}

.nav-sidebar > .active > a {
    color: #FFF;
    background-color: #0076B6;
}

.nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #0076B6;
}

.nav-sidebar > .active > a:hover > span, .nav-sidebar > .active > a:focus > span {
    color: #428BCA;
}

.dropdown-menu {
    box-shadow: 0px 0px 2px #003956;
    border: 1px solid #32C2CD;
}

/*pagination*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #0076B6;
}

.pagination > li > a {
    color: #0076B6;
}

/*custom class*/
.action-group a{
    text-decoration: none;
}

.action-group a:hover, .action-group a:focus{
    text-decoration: none;
}

.main{
    background-color: #eee;
}

.panel-body{
    margin: 15px;
}

.panel{
    border-radius: 0px;
}

.panel-heading {
    padding: 15px 10px;
}

.alert-success {
    background-color: #0076B6;
    color: #fff;
}

/*submenu*/
.submenu{
    list-style: none
}

.submenu > li {
    padding: 10px;
}

.submenu > li > a {
    text-decoration: none;
}

.submenu > li:hover, .submenu > li.active:hover, .submenu > li.active:focus{
    background-color: #eee;
    color: #0076B6;
}

.submenu > li.active{
    background-color: #0076B6;
}

.submenu > li.active > a{
    color: #fff;
}

.submenu > li.active:hover > a, .submenu > li.active:focus > a{
    color: #0076B6;
}

.submenu > li.active > a:hover, .submenu > li.active > a:focus{
    color: #0076B6;
    background-color: #eee;
}